.clickable {
    cursor: pointer !important;
}

#subtasks {
    width: 300px;
    margin-left: 70px;
}

#subtasks li {
    position: relative;
}

#subtasks .linked {
    position: absolute;
    left: -100px;
}

#subtasks input {
    cursor: pointer;
    position: absolute;
    left: -50px;
    top: -1px;
}