.clickable {
    cursor: pointer !important;
}

#subtasks {
    width: 300px;
    margin-left: 110px;
    padding: 0;
    list-style: none;
}

#subtasks li {
    position: relative;
}

#subtasks .linked {
    position: absolute;
    left: -80px;
}

#subtasks input {
    cursor: pointer;
    position: absolute;
    left: -30px;
    top: -1px;
}

@media screen and (max-width: 635px) {
    #subtasks input {
        top: -5px;
    }
}