/* Menu */
#menu {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

/* Search bar */
#search-bar {
	width: 250px;
	height: 46px;
	font-size: 12pt;
	border: 1px solid #9e9e9e;
	border-radius: 4px;
	padding-left: 8px;
}

@media screen and (min-width: 800px) {
	#search-bar-container-container {
		width: 100vw;
		position: fixed;
		top: -100px;
		left: 0;
		z-index: 1;
		transition: top 0.3s ease-in-out;
		height: 70px;
	}

	#search-bar-container {
		width: 80%;
		position: relative;
		top: 0;
		min-width: 800px;
		max-width: 1100px;
		margin: 0 auto;
	}

	#menu #search-bar {
		position: absolute;
		top: 117px;
		right: 15px;
		height: 40px;
		border-radius: 15px;
	}

	#menu #search-bar-container-container.hide {
		/* This is -200px instead of -100px so the animation speed stays the same and the containers don't block the nav */
		top: -200px;
	}
}

/* React Select */
.css-b62m3t-container {
	margin-top: 10px;
}

@media screen and (max-width: 500px) {
	/* The class name of the react-select control changes when the dropdown menu is up */
	.css-b62m3t-container {
		width: 245px;
		margin-left: 10px;
		padding: 0;
	}

	.css-b62m3t-container > div {
		width: 225px;
	}
}

#timeframe {
	width: 180px;
	margin: 0 0 0 25px;
}

#timeframe > div {
	width: 160px;
}

/* React-select animations */
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(2rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(2rem);
	}
}

.select-menu {
	animation: fadeIn 0.2s ease-in-out;
}

.select-menu-close {
	animation: fadeOut 0.3s ease-in-out;
}

/* Date Picker */
#dates {
	display: block;
	margin-top: 10px;
}

@media screen and (min-width: 500px) {
	#dates {
		display: flex;
	}
}

#datepicker-wrapper {
	width: 213px;
}

#datepicker {
	width: 200px;
	height: 46px;
	font-size: 12pt;
	border-radius: 5px;
	border: 1px solid #9e9e9e;
	padding-left: 7px;
}

/* Selects organization */
#menu #sorts {
	display: flex;
}

/* Style for the tooltips */
.tooltip {
	position: relative;
}

.tooltip::before {
	display: none;
	position: absolute;
	background-color: black;
	color: white;
	padding: 5px;
	border-radius: 5px;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

/* Show the tooltip on hover */
.tooltip:hover::before {
	display: block;
}

/* Sort-direction title message in SortButton.css */
