/* To-do Items Displays */
#todos {
    padding: 0 15px 0 8px; /* 7px gets added as border for status */
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 20px;
}

.todo-item {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: relative;
}

.todo-item h3 {
    margin: 0;
    font-size: 1.4rem;
}

.todo-item .type {
    position: absolute;
    top: -10px;
    right: 5px;
    font-size: 10pt;
    background: #444e60;
    padding: 5px 10px;
    border-radius: 50px;
    color: white;
}

.todo-item .priority,
.todo-item .date {
    font-size: 12px;
    margin: 0;
}

.todo-item .description {
    margin: 0;
}

/* Style the completion date */
.todo-item .date {
    color: #666;
}

/* Style the priority */
.todo-item .priority {
    color: #e60000;
}

/* Completion Status */
.todo-item.complete {
    border-left: 7px solid green;
}

.todo-item.in-progress.behind {
    border-left: 7px solid orange;
}

.todo-item.in-progress {
    border-left: 7px solid grey;
}

.todo-item.incomplete.behind {
    border-left: 7px solid red;
}

.todo-item.incomplete {
    border-left: 7px solid grey;
}