/* Todo Items Displays */
#todos {
	padding: 15px 15px 0 8px; /* 7px gets added as border for status */
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	grid-gap: 20px;
	position: relative;
}

#create-todo {
	width: 30px;
	position: absolute;
	top: -20px;
	right: 10px;
	cursor: pointer;
}

@media only screen and (min-width: 475px) {
	#create-todo {
		top: -64px;
	}

	#todos {
		padding-top: 0;
	}
}

@media only screen and (min-width: 801px) {
	#create-todo {
		top: -72px;
	}
}

#create-todo:hover {
	background-color: #f0f0f0;
	border-radius: 5px;
}
