body {
	background-color: #152238;
	background-attachment: fixed;
	background-size: cover;
}

/* Background by screen size */
@media only screen and (max-width: 640px) {
	body {
		background-image: url("/public/assets/background640.svg"); /* original background (public/original.svg) by SVGBackgrounds.com */
	}
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
	body {
		background-image: url("/public/assets/background1024.svg"); /* original background (public/original.svg) by SVGBackgrounds.com */
	}
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
	body {
		background-image: url("/public/assets/background1440.svg"); /* original background (public/original.svg) by SVGBackgrounds.com */
	}
}
@media only screen and (min-width: 1441px) {
	body {
		background-image: url("/public/assets/background2000.svg"); /* original background (public/original.svg) by SVGBackgrounds.com */
	}
}

main {
	width: 80%;
	min-width: 800px;
	background: white;
	margin: 0 auto;
	border-radius: 20px;
}

main * {
	padding: 5px;
}

@media only screen and (max-width: 800px) {
	main {
		width: 100%;
		min-width: 100%;
	}
}

h1 {
	text-align: center;
}

.todo-item {
	border-radius: 10px;
	border: 1px solid black;
	position: relative;
}

.todo-item .goal-date {
	position: absolute;
	top: 3px;
	right: 5px;
	font-size: 14px;
	color: #999;
}

.todo-item h3 {
	position: absolute;
	top: 0;
	margin: 0;
}

.todo-item.complete {
	border-left: green 15px solid;
}