/* Background */
html {
	background-color: #152238;
	background-attachment: fixed;
	background-size: cover;
}

/* Background by screen size */
@media only screen and (max-width: 640px) {
	html {
		background-image: url("/public/assets/background640.svg"); /* original background (public/original.svg) by SVGBackgrounds.com */
	}
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
	html {
		background-image: url("/public/assets/background1024.svg"); /* original background (public/original.svg) by SVGBackgrounds.com */
	}
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
	html {
		background-image: url("/public/assets/background1440.svg"); /* original background (public/original.svg) by SVGBackgrounds.com */
	}
}
@media only screen and (min-width: 1441px) {
	html {
		background-image: url("/public/assets/background2000.svg"); /* original background (public/original.svg) by SVGBackgrounds.com */
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	monospace;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
	"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
	"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root > div {
	margin: 0;
	padding: 0;
	height: 100vh; /* To make the page take up the entire height */
	display: flex;
	flex-direction: column;
}

/* Skip to content button */
/* Hide the link by default */
#skip-link {
	position: absolute;
	top: -50px;
	left: 0;
	background-color: #444e60;
	color: white;
	padding: 10px;
	z-index: 1;
	border-radius: 10px;
}

/* Show the link when it receives focus */
#skip-link:focus {
	top: 10px;
	left: 10px;
}